.cardItem {
  margin: 12px;
}

.filter {
  margin: 12px;
}

#dropdown-basic {
  background-color:rgb(236, 76, 139);
  border-color:rgb(236, 76, 139);
}

#dropdown-basic:focus {
  box-shadow:0 0 0 0.25rem rgba(236, 76, 140, 0.829);
}
